<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ash Driving School offers top-notch driving lessons tailored for beginners and experienced drivers alike.">
    <meta name="keywords" content="driving school, driving lessons, safe driving, Ash Driving School, St Albans, Hertfordshire">
    <meta name="author" content="Ash Driving School">
    <meta name="robots" content="index, follow">
    <title>Register</title>
</head>
<body>
    <h2>Sign Up</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Render the form fields -->
        <button type="submit">Register</button>
    </form>
</body>
</html>
